local
sample/src/main/jetty/servlet-scopes-sample.war

# build
target
build
.gradle
build.gradle
settings.gradle

# ide
.idea
local.properties
.project
.classpath
.settings

# tomcat
sample/src/main/tomcat/work/
sample/src/main/tomcat/temp/
